<main class="lista-vacantes">
    <h2>Lista de vacantes</h2>

    {{#if vacancies.length}}
        {{#each vacancies}}
            <div class="vacante">
                <div class="caja">
                    <h3>{{company}}</h3>
                    <p class="puesto">{{title}}</p>
                    <p class="candidatos">Los que han postulado: {{candidates.length}}</p>
                </div>
                {{!-- caja --}}
                <div class="caja">
                    <h3 class="etiqueta">Ubicación</h3>
                    <p class="nombre">{{location}}</p>
                </div>
                {{!-- caja --}}
                <div class="caja">
                    <h3 class="etiqueta">Contrato</h3>
                    <p class="nombre contrato">{{contract}}</p>
                </div>
                {{!-- caja --}}
                <div class="caja centrar-vertical">
                    <a href="/vacancies/{{url}}" class="btn btn-verde">Más Información</a>
                </div>
            </div>
            {{!-- vacante --}}
        {{/each}}
    
    {{/if}}
</main>

{{!-- {{else}}
        <p>No hay vacantes para mostrar</p> --}}